<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/flowers" method="post">
        Название: <input type="text" name="name"><br>
        Количество: <input type="text" name="count" ><br>
        Цена в тенге: <input type="text" name="cost">
        <input type="submit" value="add">
    </form>
    <br>
    <br>
    {%for flower in flowers: %}
    <p>Название: {{flower.name}}</p>
    <p>ID: {{flower.id}}</p>
    <p>кол-во: {{flower.count}}</p>
    <p>цена: {{flower.cost}}</p>
    <form action="/cart/items" method="post">
        <input type="text" name="flower_id" id="flower_id" placeholder="Enter Flower ID">
        <input type="submit" value="Add to basket">
    </form>
    {% endfor %}
</body>
</html>